.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore data too large for analysis
data/a_exploratory_data/BlueTopo/UTM19/BlueTopo_BC26H26D_20240705.tiff
data/a_exploratory_data/BlueTopo/UTM19/BlueTopo_BC26J26C_20240726.tiff